@import "../assets/variables/variables.scss";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1280px;
    padding: 0 40px;
    box-sizing: border-box;
    margin: 0 auto;
}

.padding-each-block {
    padding: 80px 0 100px;
}

.heading {
    &-mini {
        margin-bottom: 0;
        margin-top: 0;
        font-family: $font-family;
        font-weight: 400;
        font-size: 35px;
        line-height: 129%;
        letter-spacing: 0.06em;
        color: $color-dark-l;
    }

    &--logo {
        margin: 10px 0;
        font-size: 32px;
        line-height: 110%;
        color: $color-primary;
        transition: transform 0.7s ease;

        &:hover {
            scale: 1.02;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-primary;
    }

    &--color-light {
        color: $color-light-xl;
    }

    &--color-dark {
        color: $color-dark-l;
    }

    &--width {
        width: 400px;
    }

    &--width-help {
        width: 380px;
    }

    &--width-donation {
        width: 300px;
    }

    &--width-footer {
        width: 280px;
    }

    &--align {
        text-align: center;
    }
}

.button {
    border-radius: 100px;
    border: none;
    padding: 15px 45px;
    background: $color-primary;
    font-family: $font-family;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    cursor: pointer;
    transition: all 1s ease;

    &--link {
        text-decoration: none;
        color: $color-dark-3xl;
    }

    &--color-light {
        background-color: $color-light-s;
        border: 1px solid $color-primary;
    }

    &:hover {
        background-color: $color-primary-light;
        border-color: $color-primary-light;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0 17px;

    .logo {
        &__text {
            margin-top: 10px;
            font-family: $second-family;
            font-weight: 400;
            font-size: 13px;
            letter-spacing: 0.1em;
            color: $color-light-xl;
            padding-left: 3px;
        }

        .text--color-dark {
            color: $color-dark-l;
        }
    }

    .menu {
        &__list {
            display: flex;
            margin-left: 0;
            list-style-type: none;
            padding-bottom: 8px;
        }

        &__item {
            font-family: $second-family;
            font-weight: 400;
            font-size: 15px;
            line-height: 155%;
            transition: transform 1s easy;

            &:hover {
                scale: 1.02;
            }

            &:active {
                border-bottom: 2px solid $color-primary;
            }

            &__link {
                text-decoration: none;
                color: $color-light-s;
            }

            .link--color-dark {
                color: $color-dark-l;
            }
        }

        .menu__item~.menu__item {
            margin-left: 36px;
        }

        .current-page {
            pointer-events: none;
            cursor: default;
            border-bottom: 2px solid $color-primary;
        }
    }
}