body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: #292d30;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 30px;
}

.top-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    &--back {
        background-color: #df9a49;
    }
}

.header {

    &__heading {
        font-size: 40px;
        margin-bottom: 0;
    }

    &__slogan {
        font-size: 20px;
        margin-top: 9px;
    }
}

.search {
    position: relative;
    width: 35%;

    &__line {
        line-height: 50px;
        width: 100%;
        border-radius: 16px;
        font-size: 18px;
        padding-left: 10px;
        border: none;
        color: #7f653f;
        padding-right: 47px;
        box-sizing: border-box;

        &:focus {
            outline-color: #d17558;
        }
    }

    &__icon-item {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 8px;
        top: 11px;
        cursor: pointer;
        transition: all 0.1s ease-in;

        & path {
            fill: #ad98796b
        }

        &:hover path {
            fill: #ad9879;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    .icon-blocked {
        display: none;
    }
}

.gallery__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    padding: 30px 0;
}

.image-item {
    width: 376px;
    height: 300px;
    background-size: cover;

    @media screen and (max-width: 767px) {
        width: 100%;
        height: 400px;
    }
}

.not-found {
    color: #cdc8c8;
}

.footer {
    width: 100%;
    height: 80px;
    background-color: #df9a49;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;

    .gitHubLink {
        width: 30px;
    }

    .rs-course {
        width: 30px;
    }
}