html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

@media only screen and (max-width: 1279px) {
  .container {
    padding: 0 30px;
  }
}

.padding-each-block {
  padding-top: 81px;
  padding-bottom: 99px;
}

@media only screen and (max-width: 1279px) {
  .padding--many-cards {
    padding-bottom: 75px;
  }
}

.heading-mini {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 129%;
  letter-spacing: 0.06em;
  color: #545454;
}

.heading--logo {
  margin: 10px 0;
  font-size: 32px;
  line-height: 110%;
  color: #f1cdb3;
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}

.heading--logo:hover {
  scale: 1.02;
}

.heading__link {
  text-decoration: none;
  color: #f1cdb3;
}

.heading--color-light {
  color: #fff;
}

.heading--color-dark {
  color: #545454;
}

.heading--width {
  width: 400px;
}

.heading--width-help {
  width: 380px;
}

.heading--width-donation {
  width: 300px;
}

.heading--width-footer {
  width: 280px;
}

.heading--align {
  text-align: center;
}

.button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 100px;
  border: none;
  padding: 15px 45px;
  background: #f1cdb3;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.button--link {
  text-decoration: none;
  color: #292929;
}

.button--color-light {
  background-color: #fafafa;
  border: 1px solid #f1cdb3;
}

.button:hover {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

@media only screen and (max-width: 1279px) {
  .button--align {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21px 0 17px;
}

.header .logo__text {
  margin-top: 10px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #fff;
  padding-left: 3px;
}

.header .logo .text--color-dark {
  color: #545454;
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  gap: 36px;
  list-style-type: none;
  padding-bottom: 8px;
}

.header .menu__item {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 155%;
  -webkit-transition: -webkit-transform 1s easy;
  transition: -webkit-transform 1s easy;
  transition: transform 1s easy;
  transition: transform 1s easy, -webkit-transform 1s easy;
}

.header .menu__item:hover {
  scale: 1.02;
}

.header .menu__item:active {
  border-bottom: 2px solid #f1cdb3;
}

.header .menu__item__link {
  text-decoration: none;
  color: #fafafa;
}

.header .menu__item .link--color-dark {
  color: #545454;
}

.header .menu .current-page {
  pointer-events: none;
  cursor: default;
  border-bottom: 2px solid #f1cdb3;
}

.footer {
  height: 350px;
  padding-top: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../../../assets/start-screen-gradient-background.jpg);
  background-size: cover;
}

.footer__box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 30px;
  gap: 137px;
}

.footer__list-contacts {
  margin-top: 44px;
  padding-left: 0;
  list-style-type: none;
}

.footer__list-address {
  margin-top: 34px;
  padding-left: 0;
  list-style-type: none;
}

.footer__list-item {
  width: 302px;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.footer .list-item__link {
  text-decoration: none;
  color: #f1cdb3;
}

.footer .list-item--email-indent {
  margin-bottom: 48px;
}

.footer .list-item--email::before {
  content: "";
  width: 40px;
  height: 26px;
  margin-right: 20px;
  background-image: url(../../../assets/icons/mail.svg);
  background-size: cover;
  display: inline-block;
  float: inline-start;
}

.footer .list-item--phone::before {
  content: "";
  width: 40px;
  height: 32px;
  margin-bottom: 5px;
  margin-right: 20px;
  background-image: url(../../../assets/icons/phone.svg);
  background-size: cover;
  display: inline-block;
  float: inline-start;
}

.footer .list-item--address-big-indent {
  margin-bottom: 36px;
}

.footer .list-item--address-big::before {
  content: "";
  width: 22px;
  height: 32px;
  margin-right: 20px;
  background-image: url(../../../assets/icons/pin.svg);
  background-size: cover;
  display: inline-block;
  float: inline-start;
  position: relative;
  top: 5%;
}

.footer .list-item--address::before {
  content: "";
  width: 22px;
  height: 32px;
  margin-right: 20px;
  background-image: url(../../../assets/icons/pin.svg);
  background-size: cover;
  display: inline-block;
  float: inline-start;
}

.footer__img {
  display: inline-block;
  margin-left: 22px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 1279px) {
  .footer {
    height: 100%;
    padding-top: 0;
  }
  .footer__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 52px 36px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__img {
    margin-left: 0;
  }
}

.our-friends-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f6f6f6;
}

.our-friends-cards .card-slider {
  width: 100%;
  margin: 58px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-friends-cards .card-slider__arrow {
  padding: 21px 18px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.our-friends-cards .card-slider__arrow:hover {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

.our-friends-cards .card-slider__arrow:active {
  background-color: #f1cdb3;
  border-color: #f1cdb3;
}

.our-friends-cards .card-slider .arrow--left {
  margin-right: 53px;
}

.our-friends-cards .card-slider .arrow--right {
  margin-left: 53px;
}

.our-friends-cards .card-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 90px;
  width: 100%;
}

.our-friends-cards .card-box--many-cards {
  padding: 0;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px 39px;
}

.our-friends-cards .card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  padding-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.our-friends-cards .card-item:hover {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.our-friends-cards .card-item__image {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.our-friends-cards .card-item__heading {
  margin: 30px auto;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

@media only screen and (max-width: 1279px) {
  .our-friends-cards .card-box {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .our-friends-cards .card-box--many-cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 29px 40px;
  }
  .our-friends-cards .card-box--many-cards .card-item:nth-child(7) {
    display: none;
  }
  .our-friends-cards .card-slider--many-cards {
    margin: 28px 0 39px;
    padding-left: 94px;
    padding-right: 94px;
  }
  .our-friends-cards .card-slider .arrow--left {
    margin-right: 12px;
  }
  .our-friends-cards .card-slider .arrow--right {
    margin-left: 12px;
  }
  .our-friends-cards .card-item:last-child {
    display: none;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__item {
  padding: 12px 20px;
  border: 1px solid #f1cdb3;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #292929;
}

.pagination__item:first-child, .pagination__item:last-child {
  padding: 14px 13px;
}

.pagination__item:hover {
  background-color: #fddcc4 !important;
  border: 1px solid #fddcc4;
}

.pagination .item--disabled {
  cursor: default;
  pointer-events: none;
}

.pagination .current-page-number {
  background-color: #f1cdb3;
}

.pagination .pagination__item ~ .pagination__item {
  margin-left: 20px;
}
/*# sourceMappingURL=style.css.map */