.container {
  max-width: 1280px;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.padding-each-block {
  padding: 50px 0 100px;
}

.heading-mini {
  margin-bottom: 0;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.heading--logo {
  margin: 10px 0;
  font-size: 32px;
  line-height: 110%;
  color: #f1cdb3;
}

.heading--color-light {
  color: #fff;
}

.heading--color-dark {
  color: #545454;
}

.heading--width {
  width: 400px;
}

.heading--width-donation {
  width: 300px;
}

.heading--width-footer {
  width: 280px;
}

.heading--align {
  text-align: center;
}

.button {
  border-radius: 100px;
  border: none;
  padding: 15px 45px;
  background: #f1cdb3;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
}

.button--color-light {
  background-color: #fafafa;
  border: 1px solid #f1cdb3;
}

.button:hover {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.header .logo__text {
  margin-top: 10px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #fff;
}

.header .logo .text--color-dark {
  color: #545454;
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  list-style-type: none;
}

.header .menu__item {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.header .menu__item:hover {
  font-weight: 500;
}

.header .menu__item:active {
  border-bottom: 2px solid #f1cdb3;
}

.header .menu__item__link {
  text-decoration: none;
  color: #fafafa;
}

.header .menu__item .link--color-dark {
  color: #545454;
}

.header .menu .menu__item ~ .menu__item {
  margin-left: 35px;
}

.our-friends-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f6f6f6;
}

.our-friends-cards .card-slider {
  width: 100%;
  margin: 60px 0;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-friends-cards .card-slider__arrow {
  padding: 15px 10px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  cursor: pointer;
}

.our-friends-cards .card-slider__arrow:hover {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

.our-friends-cards .card-slider__arrow:active {
  background-color: #f1cdb3;
  border-color: #f1cdb3;
}

.our-friends-cards .card-box {
  padding: 0 53px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 90px;
  width: 100%;
}

.our-friends-cards .card-box--many-cards {
  padding: 0;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 40px 30px;
}

.our-friends-cards .card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  padding-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
}

.our-friends-cards .card-item__image {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.our-friends-cards .card-item__heading {
  margin: 30px auto;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__item {
  padding: 10px 16px;
  border: 1px solid #f1cdb3;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #292929;
}

.pagination__item:first-child, .pagination__item:last-child {
  padding: 10px 8px;
}

.pagination__item:hover {
  background-color: #fddcc4 !important;
  border: 1px solid #fddcc4;
}

.pagination .current-page {
  background-color: #f1cdb3;
}

.pagination .pagination__item ~ .pagination__item {
  margin-left: 20px;
}

.footer {
  height: 350px;
  padding-top: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../../../assets/start-screen-gradient-background.jpg);
  background-size: cover;
}

.footer__box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  margin-top: 40px;
  padding-left: 0;
  height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.footer__list-item {
  width: 302px;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.footer .list-item--email::before {
  content: "";
  width: 40px;
  height: 26px;
  margin-right: 20px;
  background-image: url(../../../assets/icons/mail.svg);
  background-size: cover;
  display: inline-block;
  float: inline-start;
}

.footer .list-item--phone::before {
  content: "";
  width: 40px;
  height: 32px;
  margin-right: 20px;
  background-image: url(../../../assets/icons/phone.svg);
  background-size: cover;
  display: inline-block;
  float: inline-start;
}

.footer .list-item--address-big::before {
  content: "";
  width: 22px;
  height: 32px;
  margin-right: 20px;
  background-image: url(../../../assets/icons/pin.svg);
  background-size: cover;
  display: inline-block;
  float: inline-start;
  position: relative;
  top: 5%;
}

.footer .list-item--address::before {
  content: "";
  width: 22px;
  height: 32px;
  margin-right: 20px;
  background-image: url(../../../assets/icons/pin.svg);
  background-size: cover;
  display: inline-block;
  float: inline-start;
}

.footer__img {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
/*# sourceMappingURL=style.css.map */