@import "../../../assets/variables/variables.scss";
@import "../../../styles/common-styles.scss";
@import "../../../styles/our-pets-block-styles.scss";
@import "../../../styles/pagination-styles.scss";

.footer {
    height: 350px;
    padding-top: 26px;
    box-sizing: border-box;
    background-image: url(../../../assets/start-screen-gradient-background.jpg);
    background-size: cover;

    &__box {
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }

    &__list-contacts {
        margin-top: 44px;
        padding-left: 0;
        list-style-type: none;
    }

    &__list-address {
        margin-top: 34px;
        padding-left: 0;
        list-style-type: none;
    }

    &__list-item {
        width: 302px;
        font-family: $font-family;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: $color-primary;
    }

    .list-item {
        &__link {
            text-decoration: none;
            color: $color-primary;
        }

        &--email {
            margin-bottom: 48px;
        }

        &--email::before {
            content: "";
            width: 40px;
            height: 26px;
            margin-right: 20px;
            background-image: url(../../../assets/icons/mail.svg);
            background-size: cover;
            display: inline-block;
            float: inline-start;
        }

        &--phone::before {
            content: "";
            width: 40px;
            height: 32px;
            margin-bottom: 5px;
            margin-right: 20px;
            background-image: url(../../../assets/icons/phone.svg);
            background-size: cover;
            display: inline-block;
            float: inline-start;
        }

        &--address-big {
            margin-bottom: 36px;
        }

        &--address-big::before {
            content: "";
            width: 22px;
            height: 32px;
            margin-right: 20px;
            background-image: url(../../../assets/icons/pin.svg);
            background-size: cover;
            display: inline-block;
            float: inline-start;
            position: relative;
            top: 5%;
        }

        &--address::before {
            content: "";
            width: 22px;
            height: 32px;
            margin-right: 20px;
            background-image: url(../../../assets/icons/pin.svg);
            background-size: cover;
            display: inline-block;
            float: inline-start;
        }
    }

    &__img {
        align-self: flex-end;
        flex-grow: 0.47;
    }
}